---
layout: default
---

<article class="
  max-w-screen-md mx-auto
  my-5
  prose 
  lg:prose-base
  text-justify
  prose-h2:underline
  prose-a:text-yellow-500
  prose-quoteless
  prose-p:font-normal
  prose-blockquote:text-gray-600
  prose-blockquote:bg-gray-100
  prose-blockquote:py-1
  prose-blockquote:not-italic
  prose-code:font-mono
  prose-code:text-sm
  prose-h2:decoration-gray-500
  ">
  <h1 class="page-title text-left text-4xl">{{ page.title }}</h1>
  {{ content }}
</article>

{% include mathjax.html %}